* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7fdf7;
    min-height: 100vh;
    height: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: green;
}

.logo h1 {
    font-size: 26px;
    font-weight: bold;
}

.logo img {
    width: 60px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: green;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

main h1 {
    font-size: 60px;
    color: #1f9346;
}

main .p {
    font-size: 24px;
    color: #629774;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-left: -20px;
    padding-top: 50px;


}

.pp {
    display: flex;
    gap: 30px;
}

.cards .pp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.top-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1f9346;
    font-size: 24px;
    gap: 10px;
    font-weight: bold;

}

.top-second,
.top-third {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
}

.top-second .tabel {
    display: flex;
    align-items: flex-start;
    gap: 10px;


}

.top-second .tabel p {
    font-weight: bold;
}

.group-vegetable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 10px;
    gap: 10px;
}

.group-vegetable p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 4px;
    width: 75px;
    height: 20px;
    border-radius: 10px;
    background-color: #ecf9ec;
    color: rgb(4, 77, 4);
}

.group-vegetable .plus {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    width: 93px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.345);
    background-color: white;
}

.top-fourth {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pp:hover .top-first {
    color: orange;
    transition: ease 0.3s;
}

footer {
    background-color: #1f9346;
    height: 400px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
    width: 100%;
    height: 70%;
    gap: 20px;
    font-size: 18px;
    padding-top: 40px;
    color: black;
    border-bottom: 1px solid #3ca15e;
}

.footer-top1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.footer-top1 p {
    color: #cce4d4;
}

.footer-top2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.footer-top2 a {
    color: white;
    text-decoration: none;
}

.footer-top2 a:hover {
    color: orange;
    transition: 0.5s ease;
}

.footer-top3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.footer-top3 h3 {
    color: white;
    font-size: 20px;
    font-weight: bold
}

.footer-top3 .phone {
    display: flex;
    gap: 10px;
}

.footer-top4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.footer-top4 h3 {
    color: white;
    font-size: 20px;
    font-weight: bold
}

.socail {
    display: flex;
    gap: 10px;
}

.socail i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    transition: 0.5s ease;
    cursor: pointer;
}


.socail i:hover {
    background-color: orange;
    border: none;
}

.footer-btm {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #cce4d4;
    padding-top: 30px;

}